
  
  <h2>Eventos e Grupos</h2>
  <div class="container">
    <% @events.each do |event| %>
      <div class="movie">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <%= image_tag event.image %>
                <div class="panel panel-primary">
                  <div class="panel-header"><h3><%= event.title %></h3></div>
                  <div class="panel-body"><p><%= event.description %></p></div>
                </div>
                <p><a href=<%= event_path(event) %> class="btn btn-primary" role="button">Saber mais</a> </p>
            </div>
        </div>
      </div>
    <% end %>
  </div>
